:root {
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --gray: #86888a;
  --darkGray: #939598;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
